

.main-area{
  margin-top: 1.5rem!important;
}

.card-img-top {
  width: 70%;
  height: 70%;
  
}


p { line-height: 20px;  }

.unread{
  font-weight: bold;
  color: green;
}

 

#messageFeed{
  height: calc(100vh - 172px); 
  overflow-y: scroll; 
}
