{% extends 'pages/base.html' %}



{% block content %}

{% include 'pages/includes/_sidebar.html' %}
 

    <div class="col-sm-7 col-md-7 col-lg-8">



      <div class="row">

     
        <div class="card bg-light" style="width: 100%;">
          <div class="card-header text-center">
            Search for Penpals
          </div>
          <div class="card-body">
            <form action="{% url 'pages:search' %}" method="GET">
              <div class="form-group ">
                  <label for="langspeaks">Speaks</label>
                <input name="speaks" type="text" class="form-control" id="langspeaks" value="{{ request.GET.speaks }}" placeholder="value 1, value2">
              </div>

              <div class="form-group ">
                <label for="langlearning">Is learning</label>
                <input name="learning" type="text" class="form-control" id="langlearning" value="{{ request.GET.learning }}" placeholder="value 1, value2">
              </div>


              <button type="submit" class="btn btn-info">Search</button>
            </form>
          </div>
      
      </div>


      



<div class="main-area row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 ">

          
{% comment %} {% for u in users  %} {% endcomment %}
        {% for u in page_obj  %}
          <div class="col mb-4">
          
            <div class="card">
              <img src="{{u.photo.url}}" class="card-img-top mx-auto" >
              <div class="card-body">
                <h5 class="card-title text-center"><a href="{{u.get_absolute_url}}">{{u}}</a></h5> 
                <p class="card-text">Speaks: {{u.speaks}}  </p>
                <p class="card-text">
                  is learning {{u.is_learning}}
                </p>
              </div>
            </div>
            
          </div>
        {% endfor %}





        </div>


        <!-- main-area -->
      
      
      
      
      
      
  
      
      </div>
      <!-- /.row -->



      
    </div>
    <!-- /.col-lg-9 -->
   

{% endblock %}