{% extends 'pages/base.html' %}



{% block content %}





    <div class="col-sm-8">



      <div class="row">

        <div class="card" style="width: 100%;">
          <div class="card-header">
            Search
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">

              </div>


              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>



        <div class="main-area row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
          <div class="col mb-4">
            <div class="card">
              <img src="http://placehold.it/600x400" class="card-img-top mx-auto" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- main-area -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
   

{% endblock %}