{% extends 'pages/base.html' %}


{% block content %}

{% include 'pages/includes/_sidebar.html' %}

<div class="col-sm-8">


	<h3>{{profile.user }}</h3>
	<h6>{{profile.first}}  {{profile.last}} | {{profile.user.email}}</h6>
	<h6>Speaks: {{profile.speaks}}</h6>
	<h6>Is learning: {{profile.is_learning}}</h6>
 
	

<p>
{% if request.user.profile.id == profile.id %}
	<a class="btn btn-info" href="{% url 'pages:edit' %}"> Edit profile </a>
{% endif %}

</p>



	<h4> List of friends </h4>
	<table class="table">
    <thead>
      <tr>
		<th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
	  {% for f in friends %}   
      <tr>
		<td>{{f}}</td>  
		<td>{{f.first}}</td>
        <td>{{f.last}}</td>
		<td >{{f.user.email}}</td>
		{% if request.user.profile.id == profile.id %}
		<td ><a href="{% url 'pages:unfriend' f.id %}" class="btn btn-danger confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{f.id}}"> Unfriend</a></td>
		{% endif %}
     </tr>	
		{% endfor %}    
    </tbody>
  </table>

 

<p>
{% if request.user.is_authenticated and request.user.profile.id != profile.id %}

        {% if button_text == 'not_friend'%}
			<a class='btn btn-primary' href="{% url 'pages:send_request' profile.id %}">Add Friend</a>
		{% elif button_text == 'request_sent' %}
			<a class="btn btn-warning" href="{% url 'pages:cancel_request' profile.id %}">Cancel Request</a>
		{% endif %}

{% endif %}

</p>

<p>
{% if request.user.profile.id == profile.id and received_requests %}
    <h4>Received Friend requests</h4>
    
		{% for r_request in received_requests %}
			<p><a href="">{{ r_request }}</a></p>
			<small><a class='btn btn-primary' href="{% url 'pages:accept_request' r_request.from_profile.id %}">Accept</a></small>
			<small><a class='btn btn-danger' href="{% url 'pages:delete_request' r_request.from_profile.id %}">Delete</a></small>
		{% endfor %}    

	
{% endif %}
</p>


</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-body confirm-delete">
		  Are you sure?
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		  <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Unfriend</button>
		</div>
	  </div>
	</div>
  </div>

 
{% endblock content %}


